Repository navarrotheus/caramelo, pull requests merged in 2020-10, with the labels that each got.

#32 Feature/users
  backend/pom.xml
  backend/src/main/java/com/api/caramelo/CarameloApplication.java
  backend/src/main/java/com/api/caramelo/controllers/SessionController.java
  backend/src/main/java/com/api/caramelo/controllers/UserController.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/CreateUserDTO.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/UpdateUserDTO.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/UserDTO.java
  backend/src/main/java/com/api/caramelo/exceptions/BodyValidationException.java
  backend/src/main/java/com/api/caramelo/exceptions/BusinessRuleException.java
  backend/src/main/java/com/api/caramelo/exceptions/error/ErrorObject.java
  backend/src/main/java/com/api/caramelo/exceptions/error/ErrorResponse.java
  backend/src/main/java/com/api/caramelo/filters/AuthFilter.java
  backend/src/main/java/com/api/caramelo/repositories/UserRepository.java
  backend/src/main/java/com/api/caramelo/services/SessionService.java
  backend/src/main/java/com/api/caramelo/services/UserService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/ISessionService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/IUserService.java
  backend/src/test/java/com/api/caramelo/controllers/UserControllerTest.java
  backend/src/test/java/com/api/caramelo/services/UserServiceTest.java
Labels: BACKEND

#36 Feature/crud pet
  backend/src/main/java/com/api/caramelo/controllers/PetController.java
  backend/src/main/java/com/api/caramelo/controllers/SessionController.java
  backend/src/main/java/com/api/caramelo/controllers/UserController.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/CreatePetDTO.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/CreateUserDTO.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/UpdatePetDTO.java
  backend/src/main/java/com/api/caramelo/models/Pet.java
  backend/src/main/java/com/api/caramelo/repositories/PetRepository.java
  backend/src/main/java/com/api/caramelo/repositories/UserRepository.java
  backend/src/main/java/com/api/caramelo/services/PetService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/IPetService.java
Labels: BACKEND

#38 feat(back): ao retornar um pet, seta o pet como disponivel
  backend/src/main/java/com/api/caramelo/services/AdoptionService.java
Labels: BACKEND

#39 feat(backend): added delete user feature
  backend/src/main/java/com/api/caramelo/controllers/UserController.java
  backend/src/main/java/com/api/caramelo/services/UserService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/IUserService.java
Labels: BACKEND

#45 feat(front): adiciona autenticacao no front
  backend/src/main/java/com/api/caramelo/controllers/AdoptionController.java
  backend/src/main/java/com/api/caramelo/controllers/PetController.java
  backend/src/main/java/com/api/caramelo/controllers/SessionController.java
  backend/src/main/java/com/api/caramelo/controllers/SolicitationController.java
  backend/src/main/java/com/api/caramelo/controllers/UserController.java
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Input/index.tsx
  frontend/src/components/Input/styles.ts
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/Tooltip/index.tsx
  frontend/src/hooks/AuthContext.tsx
  frontend/src/pages/SignIn/index.tsx
  frontend/src/routes/Route.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/api.ts
  frontend/src/utils/getValidationErrors.ts
  frontend/yarn.lock
Labels: FRONTEND, INTEGRAÇÃO

#47 feat(front): adiciona hook de contexto de toasts messages e utiliza no sign in
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CardPet/index.tsx
  frontend/src/components/CardPetEdit/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/ToastContainer/Toast/index.tsx
  frontend/src/components/ToastContainer/Toast/styles.ts
  frontend/src/components/ToastContainer/index.tsx
  frontend/src/components/ToastContainer/styles.ts
  frontend/src/hooks/auth.tsx
  frontend/src/hooks/toast.tsx
  frontend/src/pages/Profile/index.tsx
  frontend/src/pages/Registrations/index.tsx
  frontend/src/pages/SignIn/index.tsx
  frontend/src/pages/SignUp/index.tsx
  frontend/src/routes/Route.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/global.ts
  frontend/yarn.lock
Labels: FRONTEND, INTEGRAÇÃO

#48 feat(front): conecta cadastro de usuario com a api
  frontend/src/components/Input/styles.ts
  frontend/src/pages/SignUp/index.tsx
  frontend/src/pages/SignUp/styles.ts
Labels: FRONTEND, INTEGRAÇÃO

#53 Feature/meu perfil
  backend/src/main/java/com/api/caramelo/CarameloApplication.java
  backend/src/main/java/com/api/caramelo/controllers/AdoptionController.java
  backend/src/main/java/com/api/caramelo/controllers/PetController.java
  backend/src/main/java/com/api/caramelo/controllers/SessionController.java
  backend/src/main/java/com/api/caramelo/controllers/SolicitationController.java
  backend/src/main/java/com/api/caramelo/controllers/UserController.java
  frontend/src/pages/Profile/index.tsx
  frontend/src/pages/Profile/styles.ts
Labels: FRONTEND, INTEGRAÇÃO

#57 feat(back) Adicionei imagem ao CRUD dos Pets
  backend/src/main/java/com/api/caramelo/controllers/dtos/CreatePetDTO.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/UpdatePetDTO.java
  backend/src/main/java/com/api/caramelo/models/Pet.java
  backend/src/main/java/com/api/caramelo/services/PetService.java
Labels: BACKEND

#55 fix(back) Atualizacao de senha
  backend/src/main/java/com/api/caramelo/controllers/dtos/UpdateUserDTO.java
  backend/src/main/java/com/api/caramelo/services/UserService.java
Labels: BACKEND

#59 feat(back) Criacao da descricao do pet
  backend/src/main/java/com/api/caramelo/controllers/dtos/CreatePetDTO.java
  backend/src/main/java/com/api/caramelo/controllers/dtos/UpdatePetDTO.java
  backend/src/main/java/com/api/caramelo/models/Pet.java
  backend/src/main/java/com/api/caramelo/services/PetService.java
Labels: BACKEND

#58 fix(back) Adicionei deleção de solicitações e o retorno do objeto usuário no login
  backend/src/main/java/com/api/caramelo/controllers/SessionController.java
  backend/src/main/java/com/api/caramelo/controllers/SolicitationController.java
  backend/src/main/java/com/api/caramelo/services/SessionService.java
  backend/src/main/java/com/api/caramelo/services/SolicitationService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/ISessionService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/ISolicitationService.java
Labels: BACKEND

#60 Feature/crud pets
  frontend/package.json
  frontend/src/components/CardPet/index.tsx
  frontend/src/components/CardPetEdit/index.tsx
  frontend/src/components/Checkbox/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/ModalAddPet/index.tsx
  frontend/src/components/ModalAddPet/styles.ts
  frontend/src/components/Sidebar/styles.ts
  frontend/src/pages/Adoptions/index.tsx
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/pages/Dashboard/styles.ts
  frontend/src/pages/Profile/index.tsx
  frontend/src/pages/Registrations/index.tsx
  frontend/yarn.lock
Labels: FRONTEND, INTEGRAÇÃO

#61 fix(back) Mensagem de tentativa de login errada
  backend/src/main/java/com/api/caramelo/repositories/UserRepository.java
  backend/src/main/java/com/api/caramelo/services/SessionService.java
Labels: BACKEND

#62 Feature/delete pet
  backend/src/main/java/com/api/caramelo/controllers/SessionController.java
  backend/src/main/java/com/api/caramelo/services/UserService.java
  frontend/src/components/CardPet/index.tsx
  frontend/src/components/CardPetEdit/index.tsx
  frontend/src/components/ModalAddPet/index.tsx
  frontend/src/components/ModalEditPet/index.tsx
  frontend/src/components/ModalEditPet/styles.ts
  frontend/src/interfaces/Adoption.ts
  frontend/src/interfaces/Pet.ts
  frontend/src/interfaces/Solicitation.ts
  frontend/src/interfaces/User.ts
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/pages/Registrations/index.tsx
Labels: BACKEND, FRONTEND, INTEGRAÇÃO

#63 feat(front): atualizacao de pet conectada com api
  frontend/src/components/CardPet/index.tsx
  frontend/src/components/CardPetEdit/index.tsx
  frontend/src/components/ModalAddPet/index.tsx
  frontend/src/components/ModalEditPet/index.tsx
  frontend/src/components/ModalUpdatePet/index.tsx
  frontend/src/components/ModalUpdatePet/styles.ts
  frontend/src/pages/Registrations/index.tsx
Labels: FRONTEND, INTEGRAÇÃO

#66 feat(back): rotas GET /pets/my-pets e GET /pets/adopt
  backend/src/main/java/com/api/caramelo/controllers/PetController.java
  backend/src/main/java/com/api/caramelo/repositories/PetRepository.java
  backend/src/main/java/com/api/caramelo/services/PetService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/IPetService.java
Labels: BACKEND

#67 feat(back): rota de listar solicitacoes de um pet
  backend/src/main/java/com/api/caramelo/controllers/SolicitationController.java
  backend/src/main/java/com/api/caramelo/repositories/SolicitationRepository.java
  backend/src/main/java/com/api/caramelo/services/SolicitationService.java
  backend/src/main/java/com/api/caramelo/services/interfaces/ISolicitationService.java
Labels: BACKEND

#69 feat(front): adiciona listagem de solicitacoes para cada pet
  frontend/src/interfaces/Pet.ts
  frontend/src/interfaces/Solicitation.ts
  frontend/src/pages/Dashboard/index.tsx
  frontend/src/pages/Registrations/index.tsx
  frontend/src/pages/Registrations/styles.ts
Labels: FRONTEND, INTEGRAÇÃO

#70 Feature/listagens my pets solicitacoes regras
  backend/src/main/java/com/api/caramelo/repositories/PetRepository.java
  backend/src/main/java/com/api/caramelo/repositories/SolicitationRepository.java
  backend/src/main/java/com/api/caramelo/services/SolicitationService.java
  frontend/src/pages/Adoptions/index.tsx
  frontend/src/pages/Dashboard/index.tsx
Labels: BACKEND, FRONTEND, INTEGRAÇÃO

#72 fix(back) solicitation bug
  backend/src/main/java/com/api/caramelo/repositories/SolicitationRepository.java
  backend/src/main/java/com/api/caramelo/services/SolicitationService.java
Labels: BACKEND

#73 feat(front): adiciona informacoes de quando foi criado e por quem
  frontend/src/components/CardPet/index.tsx
  frontend/src/components/CardPet/styles.ts
  frontend/src/interfaces/Pet.ts
Labels: FRONTEND
